@mixin button-1 ($backgroundColor, $borderColor, $fontColor)
	display: block
	height: 6rem	
	box-sizing: border-box
	width: 40rem
	color: $fontColor
	font-family: "Roboto", sans-serif
	font-weight: 400
	font-size: 1.4rem
	line-height: 1.4rem
	text-align: center
	background-color: $backgroundColor
	border: 2px solid $borderColor
	cursor: pointer
