.about-section {
	width: 1170px;
	height: 665px;
	margin: 50px auto 60px;
}

.section__heading {
	font-weight: 400;
	font-size: 36px;
	line-height: 150px;
	text-transform: uppercase;
	text-align: center;
}

.heading__underscore {
	width: 170px;
	border: 1px solid #EC7979;
}

.section__description {
	margin: 40px auto 70px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #86878B;
}
.section__tiles {
	display: flex;
	width: 1170px;
	height: 383px;
	justify-content: space-between;
}
.tile {
	width: 370px;
}

.tile__image {
	display: block;
	margin: 0px auto 0px;
}

.tile__heding {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 100px;
	text-align: center;
}

.tile__description {
	margin-top: 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.pricing-options-section {
	width: 1510px;
	padding: 50px 0px;
	background-color: #F5F5F5;
}

.pricing-options__tiles {
	width: 1170px;
	margin: 80px auto 0px;
	display: flex;
	justify-content: space-between;
}

.option__tile {
	width: 370px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	cursor: pointer;
	background-color: #FFFFFF;
}

.option__tile:hover {
	position: relative;
	bottom: 20px;
	box-shadow: 0px 5px 5px #86878B;
}

.tile__name {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	background-color: #333333;
	color: #FFFFFF;
}

.tile__price {
	font-weight: 700;
	font-size: 36px;
	line-height: 100px;
	text-align: center;
	background-color: #333333;
	color: #FFFFFF;
}

.tile__period {
	font-weight: 400;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	background-color: #333333;
	color: #86878B;
}

.tile__package-list {
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.package-list__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	background-color: #FFFFFF;
	color: #86878B;
}