@import ./sass/color
@import ./sass/fontTemplates
@import	./sass/buttons
@import ./sass/header
@import ./sass/banner
@import ./sass/about
@import ./sass/counter-section
@import ./sass/services-section
@import ./sass/design-section
@import ./sass/what-we-do-section
@import ./sass/comment-sections
@import ./sass/meet-our-team-section
@import ./sass/partners-banner
@import ./sass/our-work-section
@import ./sass/clients-section
@import ./sass/our-stories-section
@import ./sass/latest-blog-banner
@import ./sass/footer

html
	font-size: 10px

body
	margin: 0

@media (max-width:1024px)
	html
		font-size: 6.7px

h1, h2, h3, h4, h5, h6
	padding: 0
	margin: 0
	font-family: "Raleway", sans-serif

.wrapp
	width: 100%
	max-width: 1510px
	margin: 0rem auto

@media (max-width:1024px) and (min-width:321px)
	.wrapp
		width: 100%
		max-width: 1024px

@media (max-width:320px)
	.wrapp
		width: 100%
		max-width: 320px

.container
	width: 100%
	max-width: 1170px
	margin: 0rem auto

@media (max-width:1024px) and (min-width:321px)
	.container
		width: 100%
		max-width: 992px

@media (max-width:320px)
	.container
		width: 100%
		max-width: 288px

.background
	background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(./pictures/Rectangle_2.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
