body {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #FFFFFF;
	border: none;
	cursor: pointer;
} 

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
}

.wrapper{
	width: 1510px;
	margin: 0px auto;
	background:url(./icons/image.png);
	background-repeat: no-repeat;
}

.header {
	background-color: black;
	display: flex;
	justify-content: space-between;
	height: 76px;
}

.header__logo {
	margin: auto 0px auto 115px;
}

.header__nav {
	width: 570px;
	margin-right: 170px;
	display: flex;
	align-items: center;
}

.header__nav>a {
	width: 50%;
	font-size: 14px;
	font-weight:600;
	line-height: 76px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}

.header__nav>a:hover {
	background-color: #EC7979;
}

.header__nav>a:active {
	background-color: #AB4949;
}

.banner {
	position: relative;
	height: 950px;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 4px #bfbfbf;
}

.banner__content {
	margin-top: 230px;
	margin-left: 170px;
	width: 670px;	
}

.banner__heading {
	margin: 50px 0px 0px 0px;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #FFFFFF;
}

.banner__seprarator {
	margin-top: 55px;
	width: 170px;
	border-bottom: 1px solid #FFFFFF 
}

.banner__text {
	width: 270px;
	margin: 42px 0px 0px 0px;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: #FFFFFF;
}

.banner__button {
	box-sizing: border-box;
	margin-top: 42px;
	width: 270px;
	height: 60px;
	background: none;
	border: 2px solid #FFFFFF;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	color: #FFFFFF;
}

.banner__button:hover {
	color: #EC7979;
	border-color: #EC7979;
}

.banner__button:active {
	color: #FFFFFF;
	background-color: #AB4949;
	border-color: #AB4949;
}

.banner__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 470px;
	height: 450px;
	margin-top: 207px;
	margin-right: 170px;
	margin-left: 30px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.form__header {
	margin: 0px;
	font-weight: 700;
	font-size: 24px;
	line-height: 90px;
	text-align: center;
	text-transform: uppercase;
}

.form__header-red {
	color: #EC7979;
	background: none;
}

.form__inputs {
	display: flex;
	width: 350px;
	height: 180px;
	margin: 45px auto 75px;
	flex-direction: column;
	justify-content:space-between;
}

.form__inputs input {
	height: 35px;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	color: #BDBDBD;
	border: none;
	border-bottom: 1px solid #BDBDBD;
	}

.form__button {
	width: 470px;
	height: 60px;
	background: #EC7979;
	border-radius: 0px 0px 10px 10px;
	border: none;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	color: #FFFFFF;
}

.form__button:hover {
	background-color: #AB4949;
}

.form__button:active {
	background-color: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
}

.socials {
	display: flex;
	height: 140px;
	background: #F8EFEF;
}

.socials__content {
	margin-left: 170px;
	width: 470px;
}

.soicals__header {
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
}

.socials__description {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: #86878B;
}

.solials__icons {
	display: flex;
	margin-left: 30px;
	gap: 30px;
	justify-content: space-around;
	align-items: center;
}

.tabs {
	width: 1170px;
	height: 540px;
	margin: 100px auto 0px;
}

.tabs__switches {
	height: 40px;
	padding-bottom: 1px;
}

.tab-switch {
	width: 184px;
	font-weight: 400;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color:#333333;
}

.tab-switch:focus {
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #C6CBCD;
	border-bottom: 1px solid #FFFFFF;
}

.tab-switch:active {
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #C6CBCD;
	border-bottom: 1px solid #FFFFFF;
}

.tab-1 {
	border: 1px solid #C6CBCD;
	display: flex;
}

.tabs__content>h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 150px;
	color: #000000;
	text-align: center;
}

.tabs__content>p {
	width: 570px;
	margin: 0px 30px 0px 100px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-align: left;
}

.tabs__button {
	margin: 27px 0px 0px 100px;
	width: 270px;
	height: 60px;
	background-color: #EC7979;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	color: #FFFFFF;
}

.tabs__button:hover {
	background-color: #AB4949;
}

.tabs__button:active {
	background-color: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
}

.tabs__img {
	width: 470px;
	height: 500px;
}

.about-section {
	width: 1170px;
	height: 665px;
	margin: 50px auto 60px;
}

.section__heading {
	font-weight: 400;
	font-size: 36px;
	line-height: 150px;
	text-transform: uppercase;
	text-align: center;
}

.heading__underscore {
	width: 170px;
	border: 1px solid #EC7979;
}

.section__description {
	margin: 40px auto 70px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #86878B;
}
.section__tiles {
	display: flex;
	width: 1170px;
	height: 383px;
	justify-content: space-between;
}
.tile {
	width: 370px;
}

.tile__image {
	display: block;
	margin: 0px auto 0px;
}

.tile__heding {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 100px;
	text-align: center;
}

.tile__description {
	margin-top: 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.pricing-options-section {
	width: 1510px;
	padding: 50px 0px;
	background-color: #F5F5F5;
}

.pricing-options__tiles {
	width: 1170px;
	margin: 80px auto 0px;
	display: flex;
	justify-content: space-between;
}

.option__tile {
	width: 370px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	cursor: pointer;
	background-color: #FFFFFF;
}

.option__tile:hover {
	position: relative;
	bottom: 20px;
	box-shadow: 0px 5px 5px #86878B;
}

.tile__name {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	background-color: #333333;
	color: #FFFFFF;
}
.tile__price {
	font-weight: 700;
	font-size: 36px;
	line-height: 100px;
	text-align: center;
	background-color: #333333;
	color: #FFFFFF;
}
.tile__period {
	font-weight: 400;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	background-color: #333333;
	color: #86878B;
}

.tile__package-list {
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.package-list__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	background-color: #FFFFFF;
	color: #86878B;
}